.show-list{
  width:30%;
  background-color: #8C2222;
  padding:5px;
  border-radius: 10px;
  float:right;
}

.show-item{
  background-color:#EEE193;
  margin-bottom: 5px;
  border-radius: 10px;
  padding:5px;
  font-family: monospace;
}

.show-date{
  font-family: fantasy;
  font-weight: bold;
}

.header-nav{
  text-align: center;
}
.header-nav h1{
  font-family: fantasy;
  font-weight:bold;
  font-size: 60px;
}

.header-img{
  width:68%;
}
