.show-list{
  width:30%;
  background-color: #8C2222;
  padding:5px;
  border-radius: 10px;
  float:right;
  margin-top:15px;
}

.show-item{
  background-color:#EEE193;
  margin-bottom: 5px;
  border-radius: 10px;
  padding:5px;
  font-family: monospace;
}

.show-date{
  font-family: fantasy;
  font-weight: bold;
}

.line1-show{
  font-weight: bold;
}

.line2-show{
  font-style: italic;
}

.header-nav{
  text-align: center;
}
.header-nav h1{
  font-family: fantasy;
  font-weight:bold;
  font-size: 60px;
  margin-bottom:0px;
}

.header-nav p{
  margin-top:-30px;
}

.header-nav a{
  color:black;
  text-decoration: none;
  font-family: monospace;
}

.header-nav a:hover{
  font-weight: bold;
}

.header-img{
  width:68%;
}
